ul, div, p
{
margin:0px;
padding:0px;
}

html,body 
{
background-color:#251103;
height:100%;
padding:0px;
margin:0px;
}

div
{
padding:0px;
margin:0px;
}

#table
{
position:relative;
width:960px;
height:625px;
margin:0px auto;
background-color:#02842d;
border-bottom-right-radius:5px;
border-bottom-left-radius:5px;
}

.footbar-margin
{
height:120px;
}

.footbar
{
height:100px;
position:fixed;
bottom:0px;
width:100%;
left:0px;
background-color:#888;
}

.frame
{
border: 1px dashed red;
}

.card
{
position:absolute;
background-size:contain;
border-radius:3px;
width:100px;
height:145px;
}

.player-info-field
{
position:absolute;
background-color:#AAA;
border-radius:3px;
}

.subfield
{
background-color:#BBB;
border-radius:3px;
margin:3px;
padding:2px;
}

#info
{
background-color:#BBB;
border-radius:3px;
margin:3px;
padding:2px;
height:82px;
}

.playerId
{
color:#BB0505;
}

.footbar-center
{
padding-top:5px;
position:relative;
width:960px;
margin:0px auto;
}

.col
{
float:left;
width:300px;
margin-right:10px;
margin-left:10px;
/*border-right:2px #777 solid;*/
}